<li class="news__item">
    <div class="news__inner">
        <div class="news__img-container">
            <img src="@@imgUrl" alt="">
        </div>
        <div class="news__item-info">

            <div class="news__item-title">
                <a href="@@url">@@title</a>
            </div>
            <div class="news__info-bottom">
                <span class="news-tiles__time">@@data</span>
            </div>
            <div class="news__info-short">
                <p>@@short</p>
            </div>

        </div>
    </div>
</li>