<section id="cover" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <div class="s-newspaper__header">
                <h1>ЭЛЕКТРОННАЯ ГАЗЕТА</h1>
            </div>

            <div class="a-newspaper">
                <div class="cover"><img src="https://agrarnik.info/2018/oblogka/320.jpg" class="img-responsive" alt="cover"></div>
                <div class="number-nespaper" style="display: none;">№11 (320)</div>
            </div>


        </div>
    </div>
</section>

<include src="categories/semena.html"></include>
<include src="categories/szr.html"></include>
<include src="categories/zhiv.html"></include>
<include src="categories/uslugi.html"></include>
<include src="categories/tehnika.html"></include>
<include src="categories/oborudovanie.html"></include>
<include src="categories/zapchasti.html"></include>
<include src="categories/raznoe.html"></include>
<include src="categories/new.html"></include>
<include src="categories/stati.html"></include>