<footer id="contact" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <div class="s-newspaper__header">
                <h2>Контакты</h2>
            </div>

            <article id="cArticle" class="s-newspaper__article">
                <div class="wWrapper">
                    <include src="newspaper/categories/components/_Colontitul.html" title="Контакты" ></include>
                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <div class="contact__info">
                                <h4 class="contact__info-title">Газета «АграрНик»</h4>
                                <p>Главный редактор и издатель<br />Орлов Владимир Валерьевич</p>
                                <p><i class="fa fa-envelope-o"></i><a class="contact__info-inner" href="malito:agrarnik2004@gmail.com"> agrarnik2004@gmail.com</a></p>
                                <div class="contact__info-line"></div>
                                <ul class="contact__info-phone">
                                    <li><a class="contact__info-inner" href="tel:0675126605"><i class="fa fa-phone-square"></i> (067) 512 66 05 </a></li>
                                    <li><a class="contact__info-inner" href="tel:0675122932"><i class="fa fa-phone-square"></i> (067) 512-29-32</a></li>
                                    <li><a class="contact__info-inner" href="tel:0512478401"><i class="fa fa-phone-square"></i> (0512) 47 84 01</a></li>
                                </ul>
                                <div class="contact__info-line"></div>
                                <p><i class="fa fa-map-marker"></i> 54017, Украина, г. Николаев, ул. Соборная 12 Б, офис 405</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="contact__form">
                                <h3 class="contact__form-title">Связаться с нами</h3>
                                <form id="c-Form">

                                    <!-- Hidden Required Fields -->
                                    <input type="hidden" name="project_name" value="contact">
                                    <input type="hidden" name="admin_email" value="e-agrarnik@ukr.net">
                                    <input type="hidden" name="form_subject" value="|Связаться с нами| Электронная газета">
                                    <!-- END Hidden Required Fields -->
                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            </div>
                                            <input type="text" class="form-control" name="Имя" id="c-InputName" placeholder="Введите Имя">
                                        </div>
                                    </div>
                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                            </div>
                                            <input type="tel" class="form-control" id="c-Inputtel" name="Телефон" placeholder="Введите Ваш телефон">
                                        </div>
                                    </div>
                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope-square"></i></div>
                                            </div>
                                            <input type="email" class="form-control" id="c-InputEmail" name="Email" placeholder="Введите e-mail адрес" required>
                                        </div>
                                    </div>
                                    <div class="form-group has-success has-feedback">
                                        <textarea class="form-control" name="message" id="c-InputMessage" rows="3" placeholder="Введите Ваше сообщение" required></textarea>
                                    </div>
                                    <div class="form-group has-success has-feedback">
                                        <button type="submit" class="btn btn-default contact__form-bt">Отправить</button>
                                    </div>

                                </form><!-- End: Form -->
                            </div>
                        </div>

                    </div>
                </div>
            </article>

            <div id="Sform" class="contact__form sForm">
                <h3 class="contact__form-title">Здесь вы можете оформить подписку на электронную газету</h3>
                <form id="s-Form">

                    <!-- Hidden Required Fields -->
                    <input type="hidden" name="project_name" value="subscribe">
                    <input type="hidden" name="admin_email" value="e-agrarnik@ukr.net">
                    <input type="hidden" name="form_subject" value="|Подписка| Электронная газета">
                    <!-- END Hidden Required Fields -->
                    <div class="form-group has-success has-feedback">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input type="text" class="form-control" name="Имя" id="InputName" placeholder="Введите Имя">
                        </div>
                    </div>
                    <div class="form-group has-success has-feedback">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-envelope-square"></i></div>
                            </div>
                            <input type="email" class="form-control" id="sInputEmail" name="Email" placeholder="Введите e-mail адрес" required>
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <button type="submit" class="btn btn-default contact__form-bt">Отправить</button>
                    </div>

                </form><!-- End: Form -->
            </div>

        </div>
    </div>
</footer>
</div>
<script src="js/scripts.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>