<section id="footer-menu" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-row">
            <article class="footer-menu">
                <div class="wWrapper d-flex pb-3 pt-3">
                    <div class="col-lg-6">
                        <a href="@@urlL" class="bt-footer"><i class="fa fa-arrow-left" aria-hidden="true"></i>   @@titleL</a>
                    </div>
                    <div class="col-lg-6 text-right">
                        <a href="@@urlR" class="bt-footer">@@titleR   <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>