<!DOCTYPE html>
<html lang="ru">
<head>
    
    <meta charset="utf-8">
    <title>Электронная газета АграрНик – всеукраинская газета для работников агропромышленного комплекса</title>
    <meta name="description" content="✔ Семена ✔ СЗР ✔ Удобрения ✔ Животноводство ✔ Техника ✔ Запчасти и комлектующие ✔ Оборудование ✔ Техвитрина">
    <meta name="keywords" content="купить семена, купить СЗР, купить удобрения, купить технику, купить запчасти и комлектующие, купить оборудование">
    <meta property="og:title" content="Электронная газета АграрНик"/>
    <meta property="og:description" content="✔ Семена ✔ СЗР ✔ Удобрения ✔ Животноводство ✔ Техника ✔ Запчасти и комлектующие ✔ Оборудование ✔ Техвитрина"/>
    <meta property="og:image" content="/wrapper.jpg">
    <meta property="og:type" content="купить семена, купить СЗР, купить удобрения, купить технику, купить запчасти и комлектующие, купить оборудование"/>

    <!-- Not Cashed -->
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <meta name="theme-color" content="#000">

    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


</head>

<body>

<div id="page">

<header>

    <div class="loader">
        <div class="loader_inner"></div>
    </div>

    <nav id="menu">
        <p class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18.2878mm" height="4.2332mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1829 423">
                 <g id="Слой_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"/>
                      <path fill="#91D479" d="M489 179l-60 0 0 153 -57 0 0 -199 117 0 0 46zm81 153l0 0 -46 0 0 -201 70 0c23,0 41,6 53,17 14,12 21,29 21,51 0,23 -7,40 -22,51 -13,10 -31,15 -55,15l-21 0 0 67zm0 -160l0 0 0 53 20 0c23,0 34,-9 34,-27 0,-18 -11,-26 -34,-26l-20 0zm336 160l0 0 -56 0 0 -22c-7,9 -15,16 -26,21 -11,5 -22,7 -34,7 -29,0 -53,-10 -71,-31 -18,-20 -27,-45 -27,-75 0,-29 9,-54 27,-74 19,-21 42,-31 72,-31 26,0 46,9 59,27l0 -21 56 0 0 199zm-55 -98l0 0c0,-16 -5,-30 -15,-40 -10,-11 -23,-17 -39,-17 -15,0 -27,6 -36,17 -10,10 -15,23 -15,38 0,15 5,28 15,40 10,11 22,16 37,16 14,0 27,-5 37,-16 11,-11 16,-24 16,-38zm152 98l0 0 -46 0 0 -201 70 0c23,0 41,6 53,17 14,12 21,29 21,51 0,23 -7,40 -22,51 -13,10 -31,15 -55,15l-21 0 0 67zm0 -160l0 0 0 53 20 0c23,0 34,-9 34,-27 0,-18 -11,-26 -34,-26l-20 0z"/>
                      <polygon fill="#91D479" points="1325,409 1270,409 1270,287 1187,287 1187,409 1133,409 1133,129 1187,129 1187,227 1270,227 1270,129 1325,129 "/>
                      <path fill="#91D479" d="M329 412l-69 0 2 -62 -99 0 -37 62 -68 0 218 -341 51 0 2 341zm-64 -125l0 0 7 -122 -71 122 64 0z"/>
                      <path fill="#91D479" d="M1546 401l-57 0 0 -118 -78 118 -50 0 0 -198 56 0 0 114 79 -114 50 0 0 198zm227 0l0 0 -66 0 -60 -96 0 96 -55 0 0 -198 55 0 0 91 62 -91 62 0 -69 97 71 101z"/>
                 </g>
            </svg>
            <span>ЭЛЕКТРОННАЯ ГАЗЕТА</span>
        </p>
        <ul>
            <li><a href="index.html#cover" class="divider"><span><i class="fa fa-cubes"></i>Товары, Услуги</span></a>
                <ul>
                    <li><a href="index.html#semena"><span>Семена</span></a>

                        <ul><include src="newspaper/listFirm/semena.html" ></include></ul>

                    </li>
                    <li><a href="index.html#szr"><span>Сзр и удобрения</span></a>

                        <ul><include src="newspaper/listFirm/szr.html" ></include></ul>

                    </li>
                    <li><a href="index.html#zhiv"><span>Животноводство</span></a>

                        <ul><include src="newspaper/listFirm/zhiv.html" ></include></ul>

                    </li>
                    <li><a href="index.html#uslugi"><span>Услуги и ремонт </span></a>

                        <ul><include src="newspaper/listFirm/uslugi.html" ></include></ul>

                    </li>
                    <li><a href="index.html#tehnika"><span>Техника</span></a>

                        <ul><include src="newspaper/listFirm/tehnika.html" ></include></ul>

                    </li>
                    <li><a href="index.html#oborudovanie"><span>Оборудование</span></a>

                        <ul><include src="newspaper/listFirm/oborudovanie.html" ></include></ul>

                    </li>
                    <li><a href="index.html#zapchasti"><span>Запчасти</span></a>

                        <ul><include src="newspaper/listFirm/zapchasti.html" ></include></ul>

                    </li>
                    <li><a href="index.html#raznoe"><span>Разное</span></a>

                        <ul><include src="newspaper/listFirm/raznoe.html" ></include></ul>

                    </li>
                    <li><a href="index.html#new"><span>Новые предложения</span></a>

                        <ul><include src="newspaper/listFirm/new.html" ></include></ul>

                    </li>
                    <li><a href="index.html#stati"><span>Статьи</span></a></li>
                </ul>
            </li>
            <li><a href="index.html#events"><i class="fa fa-calendar"></i>Агрособытия</a></li>
            <li><a href="index.html#overview"><i class="fa fa-newspaper-o"></i>Агрообзор</a></li>
            <li><a href="index.html#videoPage"><i class="fa fa-video-camera"></i>Видеообзор</a></li>
            <li><a href="index.html#userPage"><i class="fa fa-user"></i>Страница читателя</a></li>
            <li><a href="index.html#contact"><i class="fa fa-info-circle"></i>Наши контакты</a></li>

        </ul>
    </nav>

</header>