@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	overflow-x: hidden!important

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	color: $text
	background: url("../img/bg-wrapper.jpg") no-repeat fixed #653905
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	width: 100%
	height: auto

.text-center
	text-align: center

b, strong
	font-weight: bold

.loader
	background: none repeat scroll 0 0 #F7F7F7
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999

.loader_inner
	background: url(../img/preloader.gif) no-repeat center #F7F7F7
	background-size: cover
	height: 256px
	width: 256px
	left: 50%
	top: 50%
	margin-top: -128px
	margin-left: -128px
	position: absolute



@import "components/**/*"
@import "media" // Always at the end
