<section id="new" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Новые предложения</h2>
            </header>

            <include src="components/_NewspaperArticle.html" title="Новые предложения" id="wNew-1" urlImg="img/categories/new/agrarnik1_interactiv.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Новые предложения" id="wNew-2" urlImg="img/categories/new/agrarnik1_interactiv2.jpg"></include>

        </div>
    </div>
</section>