<section id="oborudovanie" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Оборудование</h2>
            </header>

            <include src="components/_NewspaperArticle.html" title="Семена" id="wOborudovanie-1" urlImg="img/categories/oborudovanie/agrarnik1_interactiv.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Семена" id="wOborudovanie-2" urlImg="img/categories/oborudovanie/agrarnik1_interactiv2.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Семена" id="wOborudovanie-3" urlImg="img/categories/oborudovanie/agrarnik1_interactiv3.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Семена" id="wOborudovanie-4" urlImg="img/categories/oborudovanie/agrarnik1_interactiv4.jpg"></include>


        </div>
    </div>
</section>