<section id="semena" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Семена</h2>
            </header>

            <include src="components/_NewspaperArticle.html" title="Семена" id="wSemena-1" urlImg="img/categories/semena/agrarnik1_interactiv.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Семена" id="wSemena-2" urlImg="img/categories/semena/agrarnik1_interactiv2.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Семена" id="wSemena-3" urlImg="img/categories/semena/agrarnik1_interactiv3.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Семена" id="wSemena-4" urlImg="img/categories/semena/agrarnik1_interactiv4.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Семена" id="wSemena-5" urlImg="img/categories/semena/agrarnik1_interactiv5.jpg"></include>


        </div>
    </div>
</section>