<section id="stati" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Статьи</h2>
            </header>

            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-1" urlImg="img/categories/stati/agrarnik1_interactiv.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-2" urlImg="img/categories/stati/agrarnik1_interactiv2.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-3" urlImg="img/categories/stati/agrarnik1_interactiv3.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-4" urlImg="img/categories/stati/agrarnik1_interactiv4.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-5" urlImg="img/categories/stati/agrarnik1_interactiv5.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-6" urlImg="img/categories/stati/agrarnik1_interactiv6.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-7" urlImg="img/categories/stati/agrarnik1_interactiv7.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-8" urlImg="img/categories/stati/agrarnik1_interactiv8.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-9" urlImg="img/categories/stati/agrarnik1_interactiv9.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-10" urlImg="img/categories/stati/agrarnik1_interactiv10.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-11" urlImg="img/categories/stati/agrarnik1_interactiv11.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-12" urlImg="img/categories/stati/agrarnik1_interactiv12.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-13" urlImg="img/categories/stati/agrarnik1_interactiv13.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-14" urlImg="img/categories/stati/agrarnik1_interactiv14.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-15" urlImg="img/categories/stati/agrarnik1_interactiv15.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-16" urlImg="img/categories/stati/agrarnik1_interactiv16.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-17" urlImg="img/categories/stati/agrarnik1_interactiv17.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-18" urlImg="img/categories/stati/agrarnik1_interactiv18.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Статьи" id="wStati-19" urlImg="img/categories/stati/agrarnik1_interactiv19.jpg"></include>


        </div>
    </div>
</section>