<section id="articles" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Статьи</h2>
            </header>

            

            <article class="s-newspaper__article">
                <div class="wWrapper otherPage">
                    <include src="./components/_Colontitul.html" title="Статьи" ></include>

                    <div class="otherPage__content">
                        <ul class="articles__list clearfix">

                            <include src="./components/_ArticleItem.html"
                              title="ЗАПОБІЖНІ МУФТИ – ГАРАНТІЯ БЕЗВІДМОВНОЇ РОБОТИ ОБЛАДНАННЯ"
                              url="https://agrarnik.com/index.php?option=com_k2&view=item&id=5484:zapobizhni-mufti-garantiya-bezvidmovnoji-roboti-obladnannya&Itemid=434"
                              imgUrl="https://agrarnik.com/images/2018/322/%D0%92%D0%B0%D0%BB_%D1%81_%D0%BC%D1%83%D1%84%D1%82%D0%BE%D0%B9_fmt.png"
                              info="Застосування запобіжних муфт забезпечує захист устаткування від поломки при надмірних навантаженнях й інших нештатних ситуаціях. Треба розуміти, що значення обертаючого моменту, що передається валу відбору потужності трактора, може в 2-5 разів перевищувати встановлене номінальне значення на валу прийому потужності сільгоспмашини. І отже, перевищувати значення максимального обертаючого моменту, що допускається..."
                            ></include>

                            <include src="./components/_ArticleItem.html"
                                     title="Вбережи свою землю від хімії!"
                                     url="https://agrarnik.com/index.php?option=com_k2&view=item&id=5483:vberezhi-svoyu-zemlyu-vid-khimiji&Itemid=434"
                                     imgUrl="https://agrarnik.com/images/2018/322/IMG_1485_opt.jpeg"
                                     info="Універсальний коток-подрібнювач Виробник сільськогосподарської техніки ТОВ «АЯКС АГРО» пропонує універсальний коток-подрібнювач «АЯКС»! Ріжучий водоналивний гідравлічний коток «АЯКС» спеціально розроблений для подрібнення сухих рослинних залишків, вирівнювання і часткового мульчування поверхні..."
                            ></include>

                            <include src="./components/_ArticleItem.html"
                                     title="НОВІ СОРТИ ОЗИМОЇ ПШЕНИЦІ ДЛЯ РЕГІОНІВ З НЕСТАБІЛЬНИМ ЗВОЛОЖЕННЯМ"
                                     url="https://agrarnik.com/index.php?option=com_k2&view=item&id=5482:novi-sorti-ozimoji-pshenitsi-dlya-regioniv-z-nestabilnim-zvolozhennyam&Itemid=434"
                                     imgUrl="https://agrarnik.com/images/2018/322/003_opt.jpeg"
                                     info="Держсортостанція, 2017р.), 96,2 ц\га (Черкаський відділ польових досліджень, 2017р.), 74,0 ц\га (Донецька Держсортостанція, 2017р.) В виробничих умовах сорти можуть забезпечувати стабільну продуктивність в регіонах з нестабільним зволоженням на рівні 6,8 -9 т\га (Табл. 1). Отже, застосування нових сортів озимої пшениці ФЕЛІКС та АТЛОН розширить технологічні можливості вирощування та може сприяти..."
                            ></include>

                            <include src="./components/_ArticleItem.html"
                                     title="ЗЕРНОВІ 2018 – ЧАС ОБИРАТИ!"
                                     url="https://agrarnik.com/index.php?option=com_k2&view=item&id=5481:zernovi-2018-chas-obirati&Itemid=434"
                                     imgUrl="https://agrarnik.com/images/2018/322/ui-596eb0a1730e67.7137_opt.jpeg"
                                     info="Для українських аграріїв цей рік був непростим: довго чекали весну, на жнива пішли дощі. Але пшениця та ячмені української селекції вкотре показали себе достойно. Попри несприятливі погодні умови, вистояли, а тому зараз ми можемо обирати найкраще. Альтернативи вітчизняній селекції немає, ані за зимостійкістю, ані за жаро- та..."
                            ></include>

                            <include src="./components/_ArticleItem.html"
                                     title="Редстоун: стійкий та врожайний"
                                     url="https://agrarnik.com/index.php?option=com_k2&view=item&id=5475:redstoun-stijkij-ta-vrozhajnij&Itemid=434"
                                     imgUrl="https://agrarnik.com/images/2018/319/2/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D0%9D%D0%9E%D0%92%D0%AB%D0%99.jpg"
                                     info="Придатний для вирощування із застосуванням потужних гербіцидів гібрид озимого ріпаку РЕДСТОУН чудово себе показав у посівах по всій Україні. У Всеукраїнському науковому інституті селекції (ВНІС) однією з ключових селекційних програм є створення нових сучасних гібридів озимого ріпаку з потрібним комплексом..."
                            ></include>

                            <include src="./components/_ArticleItem.html"
                                     title="Маленька машина з великими можливостями"
                                     url="https://agrarnik.com/index.php?option=com_k2&view=item&id=4909:malenka-mashina-z-velikimi-mozhlivostyami-abo-yak-ne-vtrachati-vid-3-tis-grn-z-ga&Itemid=434"
                                     imgUrl="https://agrarnik.com/images/311/68/catalog_info_3_579_opt.jpeg"
                                     info="Або як не втрачати від 3 тис. грн. з га+. Аналогів на ринку України немає. Завдяки подрібнювачу соломи у валках умс 170. Вітчизняні господарства отримують якісну та продуктивну техніку. Використання різних моделей подрібнювачів для подрібнення соломи у валках не завжди виправдовувало себе, бо через конструктивні рішення ці знаряддя..."
                            ></include>

                        </ul>
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>