<section id="szr" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Cзр и удобрения</h2>
            </header>

            <include src="components/_NewspaperArticle.html" title="Cзр и удобрения" id="wSzr-1" urlImg="img/categories/szr/agrarnik1_interactiv.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Cзр и удобрения" id="wSzr-2" urlImg="img/categories/szr/agrarnik1_interactiv2.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Cзр и удобрения" id="wSzr-3" urlImg="img/categories/szr/agrarnik1_interactiv3.jpg"></include>

        </div>
    </div>
</section>