<section id="tehnika" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Техника</h2>
            </header>

            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-1" urlImg="img/categories/tehnika/agrarnik1_interactiv.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-2" urlImg="img/categories/tehnika/agrarnik1_interactiv2.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-3" urlImg="img/categories/tehnika/agrarnik1_interactiv3.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-4" urlImg="img/categories/tehnika/agrarnik1_interactiv4.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-5" urlImg="img/categories/tehnika/agrarnik1_interactiv5.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-6" urlImg="img/categories/tehnika/agrarnik1_interactiv6.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-7" urlImg="img/categories/tehnika/agrarnik1_interactiv7.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-8" urlImg="img/categories/tehnika/agrarnik1_interactiv8.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-9" urlImg="img/categories/tehnika/agrarnik1_interactiv9.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-10" urlImg="img/categories/tehnika/agrarnik1_interactiv10.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-11" urlImg="img/categories/tehnika/agrarnik1_interactiv11.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-12" urlImg="img/categories/tehnika/agrarnik1_interactiv12.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-13" urlImg="img/categories/tehnika/agrarnik1_interactiv13.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-14" urlImg="img/categories/tehnika/agrarnik1_interactiv14.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-15" urlImg="img/categories/tehnika/agrarnik1_interactiv15.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-16" urlImg="img/categories/tehnika/agrarnik1_interactiv16.jpg">
                <div class="veles-agro">
                    <h3 class="text-center">Продукция компании Veles Agro</h3>
                    <!-- owl-carousel -->
                    <div class="owl-carousel popup-gallery2">
                        <div class="item">
                            <a class="page-popup" href="img/veles/1-n.jpg">
                                <img src="img/veles/1-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/1.pdf" target="_blank">Техническая характеристика</a>
                        </div>

                        <div class="item">
                            <a class="page-popup" href="img/veles/2-n.jpg">
                                <img src="img/veles/2-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/2.pdf" target="_blank">Техническая характеристика</a>
                        </div>
                        <div class="item">
                            <a class="page-popup" href="img/veles/3-n.jpg">
                                <img src="img/veles/3-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/3.pdf" target="_blank">Техническая характеристика</a>
                        </div>
                        <div class="item">
                            <a class="page-popup" href="img/veles/4-n.jpg">
                                <img src="img/veles/4-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/4.pdf" target="_blank">Техническая характеристика</a>
                        </div>
                        <div class="item">
                            <a class="page-popup" href="img/veles/5-n.jpg">
                                <img src="img/veles/5-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/5.pdf" target="_blank">Техническая характеристика</a>
                        </div>
                        <div class="item">
                            <a class="page-popup" href="img/veles/6-n.jpg">
                                <img src="img/veles/6-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/6.pdf" target="_blank">Техническая характеристика</a>
                        </div>

                        <div class="item">
                            <a class="page-popup" href="img/veles/8-n.jpg">
                                <img src="img/veles/8-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/8.pdf" target="_blank">Техническая характеристика</a>
                        </div>
                        <div class="item">
                            <a class="page-popup" href="img/veles/9-n.jpg">
                                <img src="img/veles/9-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/9.pdf" target="_blank">Техническая характеристика</a>
                        </div>
                        <div class="item">
                            <a class="page-popup" href="img/veles/10-n.jpg">
                                <img src="img/veles/10-n.jpg" alt="баннер-карусель">
                            </a>
                            <a class="veles-product" href="https://agrarnik.info/2018/4/pdf/10.pdf" target="_blank">Техническая характеристика</a>
                        </div>
                    </div><!-- End owl-carousel -->
                </div>
            </include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-17" urlImg="img/categories/tehnika/agrarnik1_interactiv17.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-18" urlImg="img/categories/tehnika/agrarnik1_interactiv18.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-19" urlImg="img/categories/tehnika/agrarnik1_interactiv19.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-20" urlImg="img/categories/tehnika/agrarnik1_interactiv20.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-21" urlImg="img/categories/tehnika/agrarnik1_interactiv21.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-22" urlImg="img/categories/tehnika/agrarnik1_interactiv22.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-23" urlImg="img/categories/tehnika/agrarnik1_interactiv23.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-24" urlImg="img/categories/tehnika/agrarnik1_interactiv24.jpg">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="js-modal-video p-4" data-video-id="n9Q1-cngPB0">
                            <div class="preview">
                                <div class="preview-bt"><i class="fa fa-play"></i></div>
                                <img src="https://i.ytimg.com/vi_webp/n9Q1-cngPB0/sddefault.webp" class="img-responsive" alt="video">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="js-modal-video p-4" data-video-id="9f178zTdkJc">
                            <div class="preview">
                                <div class="preview-bt"><i class="fa fa-play"></i></div>
                                <img src="https://i.ytimg.com/vi_webp/9f178zTdkJc/sddefault.webp" class="img-responsive" alt="video">
                            </div>
                        </div>
                    </div>
                </div>
            </include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-25" urlImg="img/categories/tehnika/agrarnik1_interactiv25.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-26" urlImg="img/categories/tehnika/agrarnik1_interactiv26.jpg"></include>
            <include src="components/_NewspaperArticle.html" title="Техника" id="wTehnika-27" urlImg="img/categories/tehnika/agrarnik1_interactiv27.jpg"></include>


        </div>
    </div>
</section>