<section id="overview" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Агрообзор</h2>
            </header>

            <article class="s-newspaper__article">
                <div class="wWrapper">
                    <include src="../../newspaper/categories/components/_Colontitul.html" title="Агрообзор" ></include>

                    <include src="../../../newspaper/overview.html"></include>

                </div>
            </article>

        </div>
    </div>
</section>