<section id="events" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Агрособытия</h2>
            </header>

            <article class="s-newspaper__article">
                <div class="wWrapper otherPage">
                    <include src="../../newspaper/categories/components/_Colontitul.html" title="Агрособытия" ></include>
                    <div class="otherPage__header">
                        <h3>Ближайшие события</h3>
                    </div>
                    <div class="otherPage__content">
                        <ul class="events__list">

                            <include src="../../../newspaper/events.html"></include>

                        </ul>
                    </div>
                </div>
            </article>

        </div>
    </div>

</section>