<section id="videoPage" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Видеообзор</h2>
            </header>

            <article class="s-newspaper__article">
                <div class="wWrapper">
                    <include src="../../newspaper/categories/components/_Colontitul.html" title="Видеообзор" ></include>

                    <include src="../../../newspaper/video.html" title="Видеообзор" ></include>

                </div>
            </article>

        </div>
    </div>
</section>