<section id="videoPage" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Видеообзор</h2>
            </header>

            <article class="s-newspaper__article">
                <div class="wWrapper">
                    <include src="../../newspaper/categories/components/_Colontitul.html" title="Видеообзор" ></include>

                    <div class="otherPage__header">
                        <div class="row">
                            <div class="col-lg-5 col-md-12 d-flex align-items-center justify-content-center">
                                <h3 class="videoPage-header__title mb-4">Головні аграрні події тижня</h3>
                            </div>
                            <div class="col-lg-7 col-md-12 d-flex align-items-center justify-content-center">
                                <iframe class="videoPage-header__video" src="https://www.youtube.com/embed/DicdHaRmsO0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="otherPage__content">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 mb-3">
                                <iframe class="videoPage-content__video" src="https://www.youtube.com/embed/15NlzpiDwMc" frameborder="0" allowfullscreen></iframe>
                                <div class="videoPage-content__video-info">
                                    <h4>15 правил успешной уборки урожая</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-3">
                                <iframe class="videoPage-content__video" src="https://www.youtube.com/embed/y0HkNYTQkYo" frameborder="0" allowfullscreen></iframe>
                                <div class="videoPage-content__video-info">
                                    <h4>Перший 320-сильний Український трактор СІЧЕСЛАВ-3204</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-3">
                                <iframe class="videoPage-content__video" src="https://www.youtube.com/embed/OHQRg1qM4wQ" frameborder="0" allowfullscreen></iframe>
                                <div class="videoPage-content__video-info">
                                    <h4>Блокчейн и ICO в реальном секторе. Кейс - ферма Колионово</h4>
                                </div>
                            </div>
                        </div>
                        <div class="video-line"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 mb-3">
                                <iframe class="videoPage-content__video" src="https://www.youtube.com/embed/Rodb-alj7Jw" frameborder="0" allowfullscreen></iframe>
                                <div class="videoPage-content__video-info">
                                    <h4>Агроразвлечения</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-3">
                                <iframe class="videoPage-content__video" src="https://www.youtube.com/embed/qJCi_ABCedA" frameborder="0" allowfullscreen></iframe>
                                <div class="videoPage-content__video-info">
                                    <h4>ВАРті новини №16: як "Гайдамаки" захищають аграріїв та Національний День Ферми у Львівській області</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-3">
                                <iframe class="videoPage-content__video" src="https://www.youtube.com/embed/h9tFeRzm4KA" frameborder="0" allowfullscreen></iframe>
                                <div class="videoPage-content__video-info">
                                    <h4>Культуры разные - проблема одна</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>

        </div>
    </div>
</section>