<section id="userPage" class="s-newspaper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center flex-column">

            <header class="s-newspaper__header">
                <h2>Страница читателя</h2>
            </header>

            <article class="s-newspaper__article">
                <div class="wWrapper">
                    <include src="../../newspaper/categories/components/_Colontitul.html" title="Страница читателя" ></include>

                    <div class="otherPage__content">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <img class="userPage__img img-responsive" src="https://agrarnik.info/2018/11/img/man.jpg" alt="">
                                <div class="userPage__social d-flex align-items-center">
                                    <i class="fa fa-facebook-square"></i>
                                    <span>Обязательно присоединяйтесь к нашей странице на <a href="https://www.facebook.com/AgrarNikwelcome/">Facebook</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="userPage-content">
                                    <h3 class="userPage-content__title">Уважаемый читатель,</h3>
                                    <p>эта страница нужна для нашего общения.Сейчас, благодаря интернету, мы можем вести полноценный диалог с читателями и предлагаем вам присоединиться к этой беседе.</p>
                                    <p>Будем очень благодарны, если вы перейдёте по ссылке и оставите для нас отзыв, пожелание или замечание. Мы внимательно отнесёмся ко всем вашим предложениям. Напишите нам, мы хотим чувствовать вас рядом.</p>
                                    <a class="userPage-content__bt" href="https://agrarnik.com/index.php?option=com_content&view=article&id=922&Itemid=488" target="_blank">Написать отзыв</a>
                                    <div class="userPage-content__info-box">
                                        <p>Здесь регулярно будет публиковаться блиц-опрос для читателей, по результатам которого мы будем совершенствовать наши публикации. Ответ на один вопрос не займёт много времени.</p>
                                        <p>Мы работаем для вас и стремимся быть лучше. И именно сейчас нам нужны Ваше участие и поддержка.</p>
                                        <p><strong>Каких материалов
                                            Вы хотели бы видеть больше
                                            в электронном варианте газеты?</strong></p>
                                        <a class="userPage-content__bt" href="https://agrarnik.com/index.php?option=com_sppagebuilder&view=page&id=13&Itemid=489" target="_blank">Голосовать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>

        </div>
    </div>
</section>