<li><a href="#wSemena-5"><span>агро голд, пп</span></a></li>
<li><a href="#wSemena-3"><span>агро рост, ооо</span></a></li>
<li><a href="#wSemena-1"><span>агро форте, тов</span></a></li>
<li><a href="#wSemena-2"><span>агропартнер-м, пп</span></a></li>
<li><a href="#wSemena-1"><span>агроспецпроэкт, ооо</span></a></li>
<li><a href="#wSemena-2"><span>агрофирма им. горького, тов</span></a></li>
<li><a href="#wSemena-2"><span>альфа-николаев тд, ооо</span></a></li>
<li><a href="#wSemena-3"><span>беркита, чп</span></a></li>
<li><a href="#wSemena-1"><span>бор, фг</span></a></li>
<li><a href="#wSemena-1"><span>бусов</span></a></li>
<li><a href="#wSemena-5"><span>внис апк, тов</span></a></li>
<li><a href="#wSemena-4"><span>внис апк, тов</span></a></li>
<li><a href="#wSemena-2"><span>гибрид-с, тов</span></a></li>
<li><a href="#wSemena-2"><span>гран, семена</span></a></li>
<li><a href="#wSemena-2"><span>зівєлєос, тов</span></a></li>
<li><a href="#wSemena-2"><span>компания эверест-агро, тов</span></a></li>
<li><a href="#wSemena-1"><span>маер групп</span></a></li>
<li><a href="#wSemena-5"><span>рина-харьков, чп</span></a></li>
<li><a href="#wSemena-3"><span>сільський господар, тзов</span></a></li>
<li><a href="#wSemena-5"><span>союзагроконсалтинг компания, тов</span></a></li>
<li><a href="#wSemena-4"><span>терра-юг</span></a></li>
<li><a href="#wSemena-1"><span>терра-юг</span></a></li>
<li><a href="#wSemena-3"><span>экспо-люкс, ооо</span></a></li>
<li><a href="#wSemena-3"><span>элитные семена, ооо</span></a></li>
<li><a href="#wSemena-3"><span>югагроэкспорт, тов</span></a></li>
