<li class="events__item">
    <a href="@@url" target="_blank" class="events__item-inner">
        <div class="events__img-container">
            <img src="@@imgUrl" alt="events" class="img-responsive">
        </div>
        <div class="events__info">
            <div class="events__title">@@title</div>
            <div class="events__data"><i class="fa fa-calendar"></i>@@data</div>
            <div class="events__place"><i class="fa fa-map-marker"></i>@@place</div>
        </div>
    </a>
</li>